#header{
    background-color: rgb(141, 25, 25);
    margin-top: 5px;
      height: 80px;
      color: white;
     }
 .logo{
        font-size: 35px;  
        font-family: Sans-serif;
        margin-top: 20px;
        margin-left: 10px;}
 .hyperlink{
        font-size: 20px;
        float:left;
        width: 25%;
        margin-top: 30px;
        color: hsl(0, 0%, 85%);
        text-decoration: none;
 }
 .container{
    display: block;
    background-color:rgb(228, 223, 203);
     width:70%;
     height:100%;
     margin-left:225px;
     margin-top:0px;
}
  
     #slider {
       width: 720px;
       height: 400px;
       overflow: hidden;
       margin-left: 160px;
       margin-top: -10px;
   }
   
   #slider .slides {
       display: block;
       width: 7500px;
       height: 400px;
       margin: 0;
       padding:0;
       

   }
   
   #slider .slide {
       float: left;
       list-style-type: none;
       width: 720px;
       height: 400px;
   }
   .hyperlink:hover{
    color: rgb(106, 121, 128);
   
   }
   
 .images{
        align-content: center;
        z-index: 1;
     
    }
.foto{
    width: 720px;
    height: 400px
}