#header{
	background-color: rgb(141, 25, 25);
 	margin-top: 0px;
  	height: 80px;
   	color: white;
   }
   body {
		background-color: rgb(141, 25, 25);
   }

   
.logo{
	font-size: 40px;  
  font-family: Sans-serif;
  margin-top: 20px;
  margin-left: 10px;
}

.hyperlink{
	font-size: 20px;
	float:left;
	width: 25%;
	margin-top: 30px;
	color: hsl(0, 0%, 85%);
	text-decoration: none;
}
.hyperlink:hover{
	color: black;
	text-decoration: overline;
	 
	 }
 .sticky {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 2;
	}

.sticky +.content {
		padding-top: 60px;
	}
	
	.style{
		font-style: oblique;
		font-size:30px;
		font-family: Arial, Helvetica, sans-serif;
		}
		
  
  <!--pjesa3-->

  {
	font-family: Arial;
	padding: 20px;
	
  }
  
  .leftcolumn {   
	float: left;
	width: 85%;
  }
  
  .rightcolumn {
	float: left;
	width: 85%;
  }
  
  .card {
	 background-color: rgb(228, 223, 203);
	 padding: 20px;
	 margin-top: 20px;
	 margin-left: 15%;
	 margin-right: -3%;
  }
  
  
	
	.mouse{
		font-size:20px;
		width: 50%;
		float: left;
	}
  
.mouse_djatht{
		width: 48%;
		float: right;
	}

  .footer {
	padding: 25px;
	color:white;
	text-align: center;
	background: rgb(78, 9, 9);
	margin-top: 0%;
	margin-left:8%;
	margin-right:-3%;
	width:100%;
  }
  li:hover{
  	color: #24c3b5;
  }
  
  