#header{
    background-color: rgb(141, 25, 25);
    margin-top: 5px;
      height: 80px;
      color: white;
     }
 .logo{
        font-size: 35px;  
        font-family: Sans-serif;
        margin-top: 20px;
        margin-left: 10px;}
 .hyperlink{
        font-size: 20px;
        float:left;
        width: 25%;
        margin-top: 30px;
        color: hsl(0, 0%, 85%);
        text-decoration: none;
 }
 .section {
       position: relative;
       width: 100%;
       height: 100vh;
       display: flex;
       align-items: center;
       justify-content: center;
       overflow: hidden;}
 
     #slider {
       width: 720px;
       height: 400px;
       overflow: hidden;
       margin-left: 400px;
       place-conte
   }
   
   #slider .slides {
       display: block;
       width: 6000px;
       height: 400px;
       margin: 0;
       padding:0;
       

   }
   
   #slider .slide {
       float: left;
       list-style-type: none;
       width: 720px;
       height: 400px;
   }
   
   /* helper css, since we don't have images */
   .slide1 {background: red;}
   .slide2 {background: blue;}
   .slide3 {background: green;}
   .slide4 {background: purple;}
   .slide5 {background: pink;}
   
 .images{
        align-content: center;
        z-index: 1;
 }