
footer{background-color: rgb(51,0,0);
			color: rgb(193, 193, 193);
			font-family: sans-serif;
			height: 45px;
			font-size: small;
		}
		td,tr.figura{
		border-width: 5px;
		border-style: solid;
		border-color:rgb(54, 6, 6);
		background-color:rgb(100, 25, 25);
		height: 90px;
		width: 90px;
		text-align: center;
		font-size: 20px;
		}

#header{
	background-color: rgb(141, 25, 25);
 	margin-top: 5px;
  	height: 80px;
   	color: white;
   }
.logo{
	font-size: 35px;	
	font-family: Sans-serif;
	margin-top: 20px;
	margin-left: 10px;}
.hyperlink{
	font-size: 20px;
	float:left;
	width: 25%;
	margin-top: 30px;
	color: hsl(0, 0%, 85%);
	text-decoration: none;
}
.hyperlink:hover{
    color: rgb(106, 121, 128);
   
   }
.posht{
	font-family:sans-serif;
	font-size: 10pt;
	float: right;
	width: 25%;
	margin-top:-14px;
}
#pjesa2{
	background-color:rgb(54, 6, 6);
	color:white;
	height:300px;}

/*Fillimi i pjeses se trete*/
#pjesa3{
	height: 400px;
	background-color: rgb(228, 223, 203);
}
#tabelat{
	width: 88%;
	height: 27%;
	padding-top: 3%;
	margin-right: 6%;
	margin-left: 6%;
	margin-top: -55px;
	background-color: white;
	display: -webkit-inline-box;
}
.tabela1{
	background-color: rgb(100, 25, 25);
	margin-left: 3%;
	padding-top: 21px;
	padding-bottom: 87px;
	padding-left: 96px;
	padding-right: 95px;
}	
.tabela2{
	margin-left: 32%;
	background-color: rgb(100, 25, 25);
	padding-top: 21px;
	padding-bottom: 87px;
	padding-left: 99px;
	padding-right: 95px;
}	
.tabela3{
	margin-left: 131%;
	background-color: rgb(100, 25, 25);
	padding-top: 40px;
	padding-bottom: 69px;
	padding-left: 99px;
	padding-right: 95px;
}
#permbajtja{
	width: 88%;
	height: 9%;
	padding-top: 15%;
	margin-right: 6%;
	margin-left: 6%;
	background-color: white;
	display: -webkit-inline-box;
	color:black;
}
.teksti{
	float: top;
}
.listat{ 
	font-size: 15px; 
	margin-bottom: 10px;
}

/*Perfundimi i pjeses se trete*/	

#pjesa4{
	background-color: rgba(177, 170, 124, 0.84);
	height: 440px;
	
}
button{
	border: none;
	background-color:#f7f7f7;
	color:darkblue;
	width: 80px;
	height: 30px;
	margin-top: 15px;
}
input.fund{
	width: 47%;
	float: left;
	margin-left: 10px;
	margin-top: -20px;
	border: none;
	height: 20px;
}
label,div.fund{
	color: rgb(111,128,128);
	font-family: sans-serif;


}		
h2.fund{
	color:#404a4a;
	margin-left: 10px;

}
div.fund1{
	float: left;
	margin-left: 10px;
	margin-top: 15px;
	color: #404a4a;
	width: 70%;
	font-size: larger;
	color: #404a4a;
	font-family: sans-serif;
}	


